html {
  background-color: #000000;
}

body {
  background-color: #000000 !important;
}

.navbar-dark {
  background-color: #000000;
}

.logo {
  width: 10rem;
}

.hero {
  background-image: url(img/Hero-bg.jpg);
  height: 100vh;
}

h1 {
  color: #ffffff;
  transition: all 0.5s;
}

h1:hover {
  color: #e12419;
}

.hero-text {
  font-size: 1.5rem;
  color: #e12419;
  transition: all 0.5s;
}

.hero-text:hover {
  font-size: 1.7rem;
  color: #fed602;
}
